$background: #000;
$font: 1em 'Fira Code', monospace;
$text-color: rgb(0, 255, 128);

body {
  background: $background;
  color: $text-color;
  font: $font;
  margin: 2em auto;
  width: 600px;
}

input[type=text] {
  background: transparent;
  border: 0;
  border-bottom: solid 1px $text-color;
  color: $text-color;
  font: $font;
  padding: 0;
  width: 5em;
}

input[type=text]:focus {
  border-bottom-width: 2px;
  outline: none;
}

.container {
  min-height: 4em;
  max-width: 40em;
  padding-bottom: 4em;
}

.result {
  font-size: 1em;
  padding-top: 1em;
}
